<app-header></app-header>
<aside> 
    <app-side-bar></app-side-bar>
</aside>
<div style="float: right; width: 85%;" class="container">   
    <table class="table table-dark table-striped">
        <tr class="">
            <th>
                <p>Titulo</p>               
            </th>
            <th>
                <p>Descripcion</p>
            </th>
            <th>
                <p>Plataforma</p>
            </th>
            <th>
                <p>Desarrollador</p>
            </th>
            <th>   
                <p>Fecha de lanzamiento</p>
            </th>
        </tr>
        <tr *ngFor="let game of games">
            <td>
                <p>{{game.title}}</p>
            </td>
            <td>
                <p>{{game.short_description}}</p>
            </td>
            <td>
                <p>{{game.platform}}</p>
            </td>
            <td>
                <p>{{game.developer}}</p>
            </td>
            <td>
                <p>{{game.release_date}}</p>
            </td>
        </tr>
    </table>
</div>