<app-header></app-header>
<div class="container">
    <div class="mb-3">
      <label  class="form-label">Nombre de Usuario</label>
      <input  type="text" class="form-control" id="NombreUsuario" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">No compartas informacion con terceros</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="Contraseña">
    </div>
  <button type="submit" class="btn btn-primary" id="btnLogin" (click)="login()">Logearte</button>
</div>